$text_secondary: #010911;

$spacing: 0.25rem;
$radius: 0.5rem;

$font_family: "poppins";
$font_size: 16px;
$first_color: #F6FFDE;
$button-color: #365486;
$button-text: #BA94D1;
$primary_color: #B2A4FF;
$text_primary: #0f1035;
$text_color: #D3DEDC;
$text_titr: #D14D72;
